In [1]:
import numpy as np
import pandas as pd
!pip install yfinance
import yfinance as yf
import matplotlib.pyplot as plt
from array import *
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dropout
from sklearn.preprocessing import StandardScaler


def fetch_data (upto_dates = 10 , tickers='BTC-USD'):
  data = yf.download(tickers=tickers, period = f'{upto_dates}d', interval = '1d')
  new_array = np.array(data.index.to_pydatetime(), dtype=np.datetime64)
  o = data.iloc[: , 0].values
  h = data.iloc[: , 1].values
  l = data.iloc[: , 2].values
  c = data.iloc[: , 3].values
  df= pd.DataFrame(new_array)
  df.columns = ['Date']
  df['Open']=o
  df['High']=h
  df['Low']=l
  df['Close']=c
  return df

Requirement already satisfied: yfinance in c:\users\rahul agrawal\appdata\local\programs\python\python38\lib\site-packages (0.1.63)
Requirement already satisfied: numpy>=1.15 in c:\users\rahul agrawal\appdata\local\programs\python\python38\lib\site-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in c:\users\rahul agrawal\appdata\local\programs\python\python38\lib\site-packages (from yfinance) (2.25.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\rahul agrawal\appdata\local\programs\python\python38\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24 in c:\users\rahul agrawal\appdata\local\programs\python\python38\lib\site-packages (from yfinance) (1.2.2)
Requirement already satisfied: lxml>=4.5.1 in c:\users\rahul agrawal\appdata\local\programs\python\python38\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\rahul agrawal\appdata\local\programs\python\python38\lib\site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\rahul agrawal\appdata\local\programs\python\python38\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\rahul agrawal\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rahul agrawal\appdata\local\programs\python\python38\lib\site-packages (from requests>=2.20->yfinance) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rahul agrawal\appdata\local\programs\python\python38\lib\site-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\rahul agrawal\appdata\local\programs\python\python38\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\rahul agrawal\appdata\local\programs\python\python38\lib\site-packages (from requests>=2.20->yfinance) (4.0.0)

In [2]:
df=fetch_data(400)
df

[*********************100%***********************]  1 of 1 completed

          Date          Open          High           Low         Close
0   2020-09-05  10512.530273  10581.571289   9946.675781  10169.567383
1   2020-09-06  10167.216797  10353.927734  10056.885742  10280.351562
2   2020-09-07  10280.998047  10399.153320   9916.493164  10369.563477
3   2020-09-08  10369.306641  10414.775391   9945.110352  10131.516602
4   2020-09-09  10134.151367  10350.542969  10017.250977  10242.347656
..         ...           ...           ...           ...           ...
392 2021-10-05  49174.960938  51839.984375  49072.839844  51514.812500
393 2021-10-06  51486.664062  55568.464844  50488.191406  55361.449219
394 2021-10-07  55338.625000  55338.625000  53525.468750  53805.984375
395 2021-10-08  53802.144531  55922.980469  53688.054688  53967.847656
396 2021-10-09  53824.000000  54272.511719  53824.000000  54272.511719

[397 rows x 5 columns]

In [3]:

cols =['Open']

In [4]:
df_for_training = df[cols].astype(float)
print(df_for_training.shape)
df_for_training.head(7)

(397, 1)

           Open
0  10512.530273
1  10167.216797
2  10280.998047
3  10369.306641
4  10134.151367
5  10242.330078
6  10369.028320

In [5]:

scaler = StandardScaler()
scaler = scaler.fit(df_for_training)
df_for_training_scaled = scaler.transform(df_for_training)

In [6]:
trainX = []
trainY = []
n_past = 10
for i in range(n_past, len(df_for_training_scaled)):
    trainX.append(df_for_training_scaled[i - n_past:i, 0:df_for_training.shape[1]])
    trainY.append(df_for_training_scaled[i , 0])   # predict only open for next day

trainX = np.array(trainX)
trainY = np.array(trainY)
print('shape of trainx is :',trainX.shape)
print('shape of trainy is :',trainY.shape)

shape of trainx is : (387, 10, 1)
shape of trainy is : (387,)

In [7]:
model = Sequential()
model.add(LSTM(256, activation='tanh', input_shape=(trainX.shape[1], trainX.shape[2]), return_sequences=True))
model.add(LSTM(128, activation='tanh', return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(64, activation='tanh', return_sequences=True))
model.add(LSTM(64, activation='relu', return_sequences=False))

model.add(Dropout(0.2))

model.add(Dense(32))

model.add(Dense(1))

model.compile(optimizer='adam', loss='mse')
model.summary()

WARNING:tensorflow:Layer lstm_3 will not use cuDNN kernel since it doesn't meet the cuDNN kernel criteria. It will use generic GPU kernel as fallback when running on GPU
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 10, 256)           264192
_________________________________________________________________
lstm_1 (LSTM)                (None, 10, 128)           197120
_________________________________________________________________
dropout (Dropout)            (None, 10, 128)           0
_________________________________________________________________
lstm_2 (LSTM)                (None, 10, 64)            49408
_________________________________________________________________
lstm_3 (LSTM)                (None, 64)                33024
_________________________________________________________________
dropout_1 (Dropout)          (None, 64)                0
_________________________________________________________________
dense (Dense)                (None, 32)                2080
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 33
=================================================================
Total params: 545,857
Trainable params: 545,857
Non-trainable params: 0
_________________________________________________________________

In [ ]:
history = model.fit(trainX, trainY, epochs=500,  validation_split=0.1, verbose=1)

Epoch 1/500

In [ ]:
df=fetch_data(10)
data =df['Open']
data = np.array(data)
data1= data[:10]

input_data =data1
data_scaled = data1.reshape((n_past,1))
data_scaled = scaler.transform(data_scaled).tolist()
out_data = []
i=0
ran = len(data)-10

while(i<ran):
  x_input=data_scaled[len(data_scaled)-n_past:]
  # print(f" for input : {x_input}")
  x_input=np.array(x_input).reshape((1,n_past,1))
  y_pred = model.predict(x_input)[0][0]
  # print(f" Output is : {y_pred}")
  
  out_data.append(scaler.inverse_transform([y_pred])[0])
  data_scaled.append([y_pred])
  i=i+1
print("out_len :",len(out_data))
plt.figure(figsize=(20,10))
plt.plot(np.arange(0,len(data)),data, label='input', marker='o')
plt.plot(np.arange(10,len(data)),out_data ,label='Prediction', linestyle='dashed')
plt.title(f" Data of hours :{len(data)}")
plt.legend()

In [ ]:
# df=fetch_data(10)
# data =df['Open']
# data = np.array(data)
# data1= data[len(data)-n_past:]

# input_data =data1
# data_scaled = data1.reshape((n_past,1))
# data_scaled = scaler.transform(data_scaled).tolist()
# out_data = []
# i=0

# while(i<10):
#   x_input=data_scaled[len(data_scaled)-n_past:]
#   print(f" for input : {x_input}")
#   x_input=np.array(x_input).reshape((1,n_past,1))
#   y_pred = model.predict(x_input)[0][0]
#   print(f" Output is : {y_pred}")
  
#   out_data.append(scaler.inverse_transform([y_pred])[0])
#   data_scaled.append([y_pred])
#   i=i+1
# plt.figure(figsize=(20,10))
# plt.plot(np.arange(0,len(data)),data, label='input')
# plt.plot(np.arange(len(data),len(data)+i),out_data ,label='Prediction')
# plt.title(f" Data of hours :{len(data)}")
# plt.legend()

In [ ]:
len(data)